<script src="../static/libs/jquery.min.js"></script>
<script src="../static/libs/bootstrap.min.js"></script>
<script src="../static/plugins/layer/layer.js"></script>
<script src="../static/libs/vue.min.js"></script>
<script src="../static/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../static/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../static/plugins/treegrid/jquery.treegrid.min.js"></script>
<script src="../static/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
<script src="../static/plugins/treegrid/jquery.treegrid.extension.js"></script>
<script src="../static/plugins/treegrid/tree.table.js"></script>
<script src="../static/plugins/validator/validator.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/js/form.js"></script>